<div class="modal fade" id="agregarRutina" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar una nueva rutina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Ingrese el nombre de su nueva rutina</label>
                        <input [(ngModel)]="nombreNuevaRutina"
                        type="text" 
                        class="form-control" 
                        name="nombreNuevaRutina" 
                        id="nombreNuevaRutina" 
                        placeholder="Ejemplo...">
                    </div>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarRutina()">Guardar</button>
            </div>
        </div>
    </div>
</div>