<div class="lista-rutinas-container mt-5">
    <div class="container">
        <div class="row row-cols-3">
            <div *ngFor="let rutina of rutinas" class="col col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{rutina.nombre}}</h5>
                    </div>
                    <div class="col-md-12 btn-eliminar-editar-container mt-2">
                        <button (click)="editarRutinaSeleccionada(rutina.rutina_id)" type="button" class="btn btn-success"
                            data-bs-toggle="modal" data-bs-target="#editarRutina">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="eliminarRutinaSeleccionada(rutina.rutina_id)" type="button" class="btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#eliminarRutina">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div>
                    <h5 class="card-title">Nueva Rutina</h5>
                    <div class="btn-agregar-container">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                            data-bs-target="#agregarRutina">
                            <i class="fa fa-solid fa-plus btn-agregar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODALES-->
<app-agregar-rutina [persona_id_input]="persona_id"></app-agregar-rutina>
<app-borrar-rutina [rutina_id]="rutinaSeleccionada"></app-borrar-rutina>
<app-editar-rutina [rutina]="rutinaAEditar"></app-editar-rutina>