.lista-rutinas-container {
    width: 95vw;
    margin:auto;
}

.lista-rutinas {
    margin: auto;
}

.row-cols-3 {
    gap: 20px;
}

.agregar {
    margin: auto;
}

.agregar h5,
.agregar i {
    text-align:center;
}

.btn-eliminar-editar-container {
    display: flex;
    justify-content: space-evenly;
}

.btn-agregar-container {
    width: 100%;
    position: relative;
    text-align: center; /* Añade esta línea */
}

.btn {
    margin-top: 5px;
}

.btn-agregar {
    font-size: 50px;
    width: 100%;
    border: 1px solid #8479798c;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.btn-agregar:hover {
    background-color: rgba(135, 29, 234, 1);
}

.col {
    height: 200px;
    width: 260px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(135, 29, 234, 0.749);
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
    border-radius: 10px;
}

/* Cambia el color de fondo al pasar el ratón */
.col:hover {
    background-color: rgba(135, 29, 234, 0.9);
}

.col h5 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: whitesmoke;
}

