<!-- Modal -->
<div class="modal fade" id="eliminarEntrenamiento" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Eliminar Entrenamiento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Esta a punto de eliminar este entrenamiento. No podrá revertir los cambios.
                </p>
            </div>
            <div class="modal-footer">
                <button #cerrarAlTerminar type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button
                (click)="eliminarEntrenamiento()"
                type="button" class="btn btn-primary btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
  