.lista-entrenamientos-container {
    width: 100%
}

.lista-entrenamientos-titulo h3 {
    text-align: center;
}

.list-group, .agregar-entrenamiento-container {
    width: 95%;
    margin: auto;
}

.btn-agregar {
    margin-left: 10px;
}

.btn-eliminar-editar-container button {
    margin: auto 5px;
}

.btn-ver-info {
    width: 70px;
    height: 40px;
    margin-top: 2px;
}